body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:cornflowerblue;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px ;
}

canvas{
    border: 3px dashed;
}

#score{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 0px;
}

#reset{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 80px;
    height: 30px;
    border: 3px solid;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 230px;

}

#UP, #DOWN, #LEFT, #RIGHT{
font-family:Arial, Helvetica, sans-serif;
font-size: 50px;
height: 70px;
width: 70px;
border: 1px solid;
border-radius: 5px;
}

#UP{
    margin-top: -20px;
}

#RIGHT{
    margin-left: 100px;
}
