body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color:cornflowerblue;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px ;
}

canvas{
    border: 3px solid;
    margin-bottom: 20px;
}

#score{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-bottom: 0px;
}

#reset{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 80px;
    height: 40px;
    border: 3px solid;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 40px;
}

#UP, #DOWN, #LEFT, #RIGHT{
font-family:'Times New Roman', Times, serif;
font-size: 50px;
height: 80px;
width: 80px;
border: 1px solid;
text-align: center;
}



#RIGHT{
    margin-left: 100px;
}




